<div class="row">
  <div class="col-xs-12">
    <h2>Documents</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    There are {{model.length}} document(s) stored.

    {{documents-table documents=content}}
    {{#if haveMultiplePages}}
      {{page-numbers content=content}}
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>New Document</h4>
  </div>
</div>
