<h1>Tags</h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each tag in model}}
      {{#link-to 'tag' tag tagName="tr" class="pointer"}}
        <td>{{tag.name}}</td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
