@import 'mixins/flexbox';

.controls {
  a {
    /* By default, all icons are blurred */
    opacity: 0.4;
    color: black;

    /* Except the active one */
    &.active {
      opacity: 1;
    }
  }
}
