/* Item grid */
.item-grid {
  @include flexbox();

  /* Allow items to wrap */
  flex-flow: row wrap;
  justify-content: space-between;

  /* Individual items */
  .item {
    width: 200px;
    height: 150px;

    margin-top: 10px;

    /* Add spaces between the individual items */
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* Item grid containers */
.item-grid-content {
  @include flexbox();

  flex-direction: column;
  align-items: center;

  /* The media object (thumbnail, etc.) should take up 3/4 of the item, and the
     caption should take up the last 1/4 */
  .media-object {
    flex: 0 0 75%;
  }

  .caption {
    flex: 0 0 25%;
  }
}
