.full-width {
  width: 100%;
}

#navbar {
  /* This is the color of a table header, darkened a bit */
  background-color: darken(#cbcbcb, 5%);

  a {
    /* Remove the irritating dashed outline */
    outline: 0;
  }
}
