.full-width {
  width: 100%;
}

#navbar {
  /* This is the color of a table header, darkened a bit */
  background-color: darken(#cbcbcb, 5%);
}

#container {
  padding: 10px;
}

/* All links by default do not have an outline */
a {
  outline: 0;
}

/* A utility class for links that should not be distinguished */
a.regular {
  text-decoration: none;
  color: inherit;
}
