<div id="navbar" class="pure-menu pure-menu-open pure-menu-horizontal">
  {{#link-to 'index' class="pure-menu-heading"}}docstore{{/link-to}}
  <ul>
    {{#link-to 'index' tagName='li' activeClass="pure-menu-selected"}}
      {{#link-to 'index'}}Home{{/link-to}}
    {{/link-to}}
    {{#link-to 'items' tagName='li' activeClass="pure-menu-selected"}}
      {{#link-to 'items'}}Items{{/link-to}}
    {{/link-to}}
  </ul>
</div>

<div class="container">
  {{outlet}}
</div>
