<h2>Upload Files</h2>

<form>
  {{#file-picker addFiles='addFiles' multiple=true}}
    Add Files
  {{/file-picker}}
  <button {{action 'submit'}}>
    Upload
  </button>
</form>

{{#if files}}
  <table class="pure-table pure-table-horizontal">
    <thead>
      <th>File Name</th>
      <th>Size</th>
      <th></th>
    </thead>
    <tbody>
      {{#each file in files}}
        <tr>
          <td>{{file.name}}</td>
          <td>{{human-file-size file.size}}</td>
          <td>
            <button {{action 'removeFile' file}}>
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
