<div class="item-grid">
  {{#each item in items}}
    <div class="item">
      {{#link-to 'file' item.id class="item-grid-content"}}
        <img class="media-object" src="http://placehold.it/200x100" />
        <div class="caption">
          <h5>Item {{item.id}}</h5>
        </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>
