<table class="pure-table pure-table-horizontal full-width">
  <thead>
    <th>ID</th>
    <th>Created At</th>
    <th># of Files</th>
    <th>Tags</th>
  </thead>
  <tbody>
    {{#each item in items}}
      <tr>
        <td>{{item.id}}</td>
        <td>{{moment-calendar item.created_at}}</td>
        <td>{{item.files.length}}</td>
        <td>TODO</td>
      </tr>
    {{/each}}
  </tbody>
</table>
