<div class='file-main'>
  <div class='file-content'>
    File {{model.id}} named: '{{model.name}}'
  </div>
  <div class='file-sidebar'>
    <h4>Tags</h4>
    <table class="pure-table pure-table-horizontal">
      <thead>
        <th>Name</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {{#each tag in model.tags}}
          <tr>
            <td>{{tag.name}}</td>
            <td>TKTK</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
