{% extends "base.html" %}
{% set active_page = "documents" %}
{% from 'macros/fields.html' import render_field %}
{% from 'macros/documents_table.html' import documents_table %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>Documents</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if documents.total == 1 %}
        <p>There is 1 document currently stored.</p>
      {% else %}
        <p>There are {{ documents.total }} documents currently stored.</p>
      {% endif %}

      {{ documents_table(documents) }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>New Document</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form action="{{ url_for('documents') }}" method="POST" enctype="multipart/form-data" role="form">
        {{ upload_form.hidden_tag() }}
        {{ render_field(upload_form.name, label_visible=True, placeholder='Receipt for widgets...') }}
        {{ render_field(upload_form.tags, label_visible=True, placeholder='Enter space-seperated tags') }}
        {{ render_field(upload_form.file, label_visible=False) }}

        {{ upload_form.upload(class_="btn btn-primary") }}
        {{ upload_form.scan(class_="btn btn-success") }}

        <!--
        <input type="submit" class="btn btn-primary" name="upload" value="Upload">
        <input type="submit" class="btn btn-success" name="scan" value="Scan New">
        <button class="btn btn-primary" name='upload'>Upload</button>
        <button class="btn btn-success" name='scan'>Scan New</button>
        -->
      </form>
    </div>
  </div>
{% endblock %}


{% block scripts %}
<script>
    // Disable clicks on the pagination elements that are disabled or active.
    $('.pagination .disabled a, .pagination .active a').on('click', function(e) {
        e.preventDefault();
    });

    // Make TRs clickable
    $("tr.clickable-row").click(function() {
        window.document.location = $(this).attr('data-url');
    });
</script>
{% endblock %}
