{% extends "base.html" %}
{% set active_page = "documents" %}
{% from 'macros.html' import render_field %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>Documents</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% if documents.total == 1 %}
        <p>There is 1 document currently stored.</p>
      {% else %}
        <p>There are {{ documents.total }} documents currently stored.</p>
      {% endif %}
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <th>Name</th>
          <th>Created</th>
          <th>Tags</th>
        </thead>
        <tbody>
          {% for document in documents.items %}
            <tr class="clickable-row"
                data-url="{{ url_for('single_document', id=document.id) }}">
              <td>{{ document.name }}</td>
              <td>{{ momentjs(document.created).calendar() }}</td>
              <td>{{ document.tags | join(', ', attribute='name') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="text-center">
        <nav>
          <ul class="pagination">
            <li {% if not documents.has_prev %}class="disabled"{% endif %}>
              <a href="{{ url_for('documents', page=documents.prev_num) }}">&laquo;</a>
            </li>

            {% if documents.total == 0 %}
              <li class="active"><a href="{{ url_for('documents', page=1) }}">1 <span class="sr-only">(current)</span></a></li>
            {% endif %}

            {% for page in documents.iter_pages() %}
              {% if page %}
                {% if page != documents.page %}
                  <li><a href="{{ url_for('documents', page=page) }}">{{ page }}</a></li>
                {% else %}
                  <li class="active">
                    <a href="{{ url_for('documents', page=page) }}">{{ page }} <span class="sr-only">(current)</span></a>
                  </li>
                {% endif %}
              {% else %}
                <li class="disabled"><a href="javascript: void(0)">...</a></li>
              {% endif %}
            {% endfor %}

            <li {% if not documents.has_next %}class="disabled"{% endif %}>
              <a href="{{ url_for('documents', page=documents.next_num) }}">&raquo;</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>New Document</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form action="{{ url_for('documents') }}" method="POST" enctype="multipart/form-data" role="form">
        {{ upload_form.hidden_tag() }}
        {{ render_field(upload_form.name, label_visible=True, placeholder='Receipt for widgets...') }}
        {{ render_field(upload_form.file, label_visible=False) }}
        {{ render_field(upload_form.tags, label_visible=True, placeholder='Enter space-seperated tags') }}

        <button class="btn btn-primary">Upload</button>
        <button class="btn btn-success">Scan New</button>
      </form>
    </div>
  </div>
{% endblock %}


{% block scripts %}
<script>
    // Disable clicks on the pagination elements that are disabled or active.
    $('.pagination .disabled a, .pagination .active a').on('click', function(e) {
        e.preventDefault();
    });

    // Make TRs clickable
    $("tr.clickable-row").click(function() {
        window.document.location = $(this).attr('data-url');
    });
</script>
{% endblock %}
