{% extends "base.html" %}
{% set active_page = "documents" %}
{% from 'macros/fields.html' import render_field %}

{% block title %}Document {{ document.name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>Document '{{ document.name }}'</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <h3>Contents</h3>
      {% macro content_pager(doc, files, curr_page) -%}
        <nav>
          <ul class="pager">
            <li class="previous{% if not files.has_prev %} disabled{% endif %}">
              <a href="{{ url_for('single_document', id=doc.id, curr_file=files.prev_num) }}">
                <span aria-hidden="true">&larr;</span> Previous
              </a>
            </li>
            <li class="disabled">
              <a href="#">File {{ curr_page }} of {{ files.total }}</a>
            </li>
            <li class="next{% if not files.has_next %} disabled{% endif %}">
              <a href="{{ url_for('single_document', id=doc.id, curr_file=files.next_num) }}">
                Next <span aria-hidden="true">&rarr;</span>
              </a>
            </li>
          </ul>
        </nav>
      {%- endmacro %}

      {% if document_files.total > 1 %}
        {{ content_pager(document, document_files, curr_file) }}
      {% endif %}

      <div class="crop-image-wrapper">
        <img src="{{ url_for('file_data', id=document_files.items[0].id) }}"
             id="content"
             style="max-width: 100%; margin: 0 auto"/>
      </div>

      {% if document_files.total > 1 %}
        {{ content_pager(document, document_files, curr_file) }}
      {% endif %}
    </div>

    <div class="col-xs-4">
      <h3>Metadata</h3>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Value</th>
        </thead>
        <tbody>
          <tr>
            <td>Created</td>
            <td>{{ momentjs(document.created).calendar() }}</td>
          </tr>
          <tr>
            <td>Total Size</td>
            <td>
              <span title="{{ document_size | intcomma }} bytes">{{ document_size | humansize }}</span>
              in {{ document_files.total }} file(s)
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Tags</h3>
      <table class="table table-condensed">
        <tbody>
          {% for tag in document.tags %}
            <tr>
              <td>
                <a href="{{ url_for('single_tag', id=tag.id) }}">
                  {{ tag.name }}
                </a>
              </td>
              <td>
                <form action="{{ url_for('single_document_tags', id=document.id, _methodov='DELETE') }}"
                      method="POST"
                      role="form">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <input type="hidden" name="tag" value="{{ tag.name }}" />
                  <button type="submit" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Actions</h3>

      <div role="tabpanel">
        <ul id="actionsTabs" class="nav nav-tabs" role="tablist" style="margin-bottom: 15px">
          <li role="presentation" class="active">
            <a href="#tags-pane" role="tab" data-toggle="tab">Tag</a>
          </li>
          <li role="presentation">
            <a href="#upload-pane" role="tab" data-toggle="tab">Upload</a>
          </li>
          <li role="presentation">
            <a href="#scan-pane" role="tab" data-toggle="tab">Scan</a>
          </li>
          <li role="presentation">
            <a href="#crop-pane" role="tab" data-toggle="tab">Crop</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tags-pane">
            <form action="{{ url_for('single_document_tags', id=document.id) }}"
                  method="POST"
                  enctype="multipart/form-data"
                  class="form-inline"
                  role="form">
              {{ add_tags_form.hidden_tag() }}
              {{ render_field(add_tags_form.tags, label_visible=False, placeholder='Enter space-seperated tags') }}
              {{ add_tags_form.add(class_="btn btn-primary") }}
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="upload-pane">
            <form action="{{ url_for('single_document_files', id=document.id) }}"
                  method="POST"
                  enctype="multipart/form-data"
                  class="form"
                  role="form">
              {{ upload_form.hidden_tag() }}
              {{ render_field(upload_form.file, label_visible=False) }}
              {{ upload_form.upload(class_="btn btn-primary") }}
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="scan-pane">
            {% if have_scanner %}
              <form action="{{ url_for('single_document_scan', id=document.id) }}"
                    method="POST"
                    enctype="multipart/form-data"
                    class="form"
                    role="form">
                {{ scan_form.hidden_tag() }}
                {{ render_field(scan_form.scanner_name, label_visible=True) }}
                {{ scan_form.scan(class_="btn btn-primary") }}
              </form>
            {% else %}
              <p><strong>No scanners available</strong></p>
            {% endif %}
          </div>

          <div role="tabpanel" class="tab-pane" id="crop-pane">
            <button class="btn btn-primary" id="start-crop">
              Start Cropping
            </button>

            <form action="{{ url_for('file_crop', id=document_files.items[0].id) }}"
                  method="POST"
                  class="form"
                  id="crop-form"
                  role="form">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input type="hidden" name="x" value="" />
              <input type="hidden" name="y" value="" />
              <input type="hidden" name="x2" value="" />
              <input type="hidden" name="y2" value="" />

              <button type="submit" class="btn btn-warning" id="finish-crop">
                Finish Cropping
              </button>
              <button type="submit" class="btn btn-error" id="cancel-crop">
                Cancel
              </button>

              <p id="crop-info"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(window).load(function() {
      var handleChange = function(c) {
        // Update form fields.
        $('#crop-form input[name="x"]').val(c.x);
        $('#crop-form input[name="y"]').val(c.y);
        $('#crop-form input[name="x2"]').val(c.x2);
        $('#crop-form input[name="y2"]').val(c.y2);

        // Update notification text
        var s =
          'Crop selection (' + c.x + ', ' + c.y + ') ' +
          'to (' + c.x2 + ', ' + c.y2 + ')';
        $("#crop-info").text(s);
      };

      var jcrop_api = $.Jcrop("#content", {
        onChange: handleChange,
        onSelect: handleChange,
        addClass: 'jcrop-centered',
      });

      // Cropping starts off disabled
      jcrop_api.disable();
      $('#crop-form').hide();

      // When the appropriate button is clicked, we enable it.
      $('#start-crop').on('click', function() {
        jcrop_api.enable();
        $('#start-crop').hide();
        $('#crop-form').show();
      });

      // Finish the cropping
      $('#finish-crop').on('click', function(e) {
        e.preventDefault();

        swal({
          title: "Are you sure?",
          text: "Cropping an image is permanent - you will not be able to " +
                "recover the original, un-cropped image",
          type: "warning",
          showCancelButton: true,
        }, function() {
          // Good!
          $('#crop-form').submit();
        });
      });

      // Cancel cropping (hides the form)
      $('#cancel-crop').on('click', function(e) {
        jcrop_api.release();
        jcrop_api.disable();
        $('#start-crop').show();
        $('#crop-form').hide();

        e.preventDefault();
        e.stopPropagation();
        return false;
      });
    });

    // Disable clicks on things with the 'disabled' class
    $('.disabled').on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      return false;
    });
  </script>
{% endblock %}
